.GRDlblGlbl {
    text-shadow: 0px 0px 0px transparent !important;
}

.GridFLDGlbl-old {
    text-shadow: 0px 0px 0px transparent !important;
}

.GridlblGlbl-old {
    text-shadow: 0px 0px 0px transparent !important;
}

.GridbtmGlbl {
    text-shadow: 0px 0px 0px transparent !important;
}

.GridfltGlbl {
    text-shadow: 0px 0px 0px transparent !important;
}

.pcrGlbl {
    text-shadow: 0px 0px 0px transparent !important;
}


::placeholder {
    text-shadow: 0px 0px 0px transparent !important;
}

.pnMenItemX {
    text-shadow: 0px 0px 0px transparent !important;
}

.buttonXX {
    text-shadow: 0px 0px 0px transparent !important;
}

    .buttonXX:hover {
        text-shadow: 0px 0px 0px transparent !important;
    }
.txtShdw002 {
    text-shadow: 0px 0px 0px transparent !important;
}

.txtShdw003 {
    text-shadow: 0px 0px 0px transparent !important;
}

.txtShdw006 {
    text-shadow: 0px 0px 0px transparent !important;
}

.txtShdw007 {
    text-shadow: 0px 0px 0px transparent !important;
}

.txtShdw008 {
    text-shadow: 0px 0px 0px transparent !important;
}

.txtShdw012 {
    text-shadow: 0px 0px 0px transparent !important;
}
