.lblGlbl {
    text-shadow: 0px 0px 0px transparent !important;
}

.btMenuS {
    text-shadow: 0px 0px 0px transparent !important;
}

.btMenuC {
    text-shadow: 0px 0px 0px transparent !important;
}

.btMenu {
    text-shadow: 0px 0px 0px transparent !important;
}

.btMenuA {
    text-shadow: 0px 0px 0px transparent !important;
}

.btMenuAXX {
    text-shadow: 0px 0px 0px transparent !important;
}

.btMenuAXXT {
    text-shadow: 0px 0px 0px transparent !important;
}

.btMenuX {
    text-shadow: 0px 0px 0px transparent !important;
}

.pnMenuINHD {
    text-shadow: 0px 0px 0px transparent !important;
}

.pnLbNOR {
    text-shadow: 0px 0px 0px transparent !important;
}

.pnLbINFM {
    text-shadow: 0px 0px 0px transparent !important;
}

.btgSearch {
    text-shadow: 0px 0px 0px transparent !important;
}

.btSaveLayout {
    text-shadow: 0px 0px 0px transparent !important;
}

.btResetLayout {
    text-shadow: 0px 0px 0px transparent !important;
}

.btDefaultLayout {
    text-shadow: 0px 0px 0px transparent !important;
}

.btExportExcel {
    text-shadow: 0px 0px 0px transparent !important;
}
.btExportCHOOSE {
    text-shadow: 0px 0px 0px transparent !important;
}
.btSetFilters {
    text-shadow: 0px 0px 0px transparent !important;
}
.btConfColumns {
    text-shadow: 0px 0px 0px transparent !important;
}

.btBackOffIt {
    text-shadow: 0px 0px 0px transparent !important;
}

.btgwFirst {
    text-shadow: 0px 0px 0px transparent !important;
}

.btgwPrevious {
    text-shadow: 0px 0px 0px transparent !important;
}

.btgwNext {
    text-shadow: 0px 0px 0px transparent !important;
}

.btgwLast {
    text-shadow: 0px 0px 0px transparent !important;
}

.clkdvbtn {
    text-shadow: 0px 0px 0px transparent !important;
}

.clkdvdgr {
    text-shadow: 0px 0px 0px transparent !important;
}

.stBTTNLB {
    text-shadow: 0px 0px 0px transparent !important;
}

.pnSplitValsT {
    text-shadow: 0px 0px 0px transparent !important;
}

.pnSplitVals {
    text-shadow: 0px 0px 0px transparent !important;
}
.txtShdw001 {
    text-shadow: 0px 0px 0px transparent !important;
}

.txtShdw003 {
    text-shadow: 0px 0px 0px transparent !important;
}

.txtShdw004 {
    text-shadow: 0px 0px 0px transparent !important;
}

.txtShdw005 {
    text-shadow: 0px 0px 0px transparent !important;
}

.txtShdw009 {
    text-shadow: 0px 0px 0px transparent !important;
}

.txtShdw010 {
    text-shadow: 0px 0px 0px transparent !important;
}

.txtShdw011 {
    text-shadow: 0px 0px 0px transparent !important;
}


